#!/bin/bash --login

#PBS -N {{ pbs.jobname }}
#PBS -l select={{pbs.nodes}}
#PBS -l walltime={{pbs.walltime}}
#PBS -A {{pbs.budget}}

{% if workdir is defined %}
cd {{workdir}}
{% else %}
export PBS_O_WORKDIR=$(readlink -f $PBS_O_WORKDIR)
cd $PBS_O_WORKDIR
{% endif %}

{{ modules }}

{% if omp is defined %}
export OMP_NUM_THREADS={{omp}}
{% else %}
export OMP_NUM_THREADS=1
{% endif %}

{{ command }}
