<div id="addMachineScreen" title="Information screen">	         
      <label for="machinename" class="addDataLabel">Name</label>
      <input type="text" name="machinename" id="machinename" class="addDataText text ui-widget-content ui-corner-all">      

      <label for="hostname" class="addDataLabel">Hostname</label>
      <input type="text" name="hostname" id="hostname" class="addDataText text ui-widget-content ui-corner-all"> 

      <div style="width: 100%; overflow: hidden;">
        <div style="float: right; width:45%;">
          <label for="connectionType" class="addDataLabel">Connection Type</label>
          <select id="connectionType"  style="float:left; width:50%;"><option value="openssh">OpenSSH</option><option value="fabric">Fabric SSH</option><option value="dummy">Dummy</option></select>          
        </div>
        <div style="float: left; width:45%;">
          <label for="scheduler" class="addDataLabel">Scheduler</label>
          <select id="scheduler"  style="float:left; width:50%;"><option value="pbs">PBS</option><option value="slurm">Slurm</option></select> 
        </div>
    </div>
      
      <div style="width: 100%; overflow: hidden;">
        <div style="float: right; width:45%;">
          <label for="number_nodes" class="addDataLabel" style="display: inline-block;">Number of nodes</label>
          <input type="text" name="number_nodes" id="number_nodes" class="addDataText text ui-widget-content ui-corner-all"> 
        </div>
        
        <div style="float: left; width:45%;">
          <label for="number_cores" class="addDataLabel" style="display: inline-block;">Number of cores</label>
          <input type="text" name="number_cores" id="number_cores" class="addDataText text ui-widget-content ui-corner-all"> 
        </div>      
      </div>

	<label for="basedir" class="addDataLabel">Base work directory</label>
      	<input type="text" name="basedir" id="basedir" class="addDataText text ui-widget-content ui-corner-all">

      <input type="hidden" id="action" name="action" value="addmachine">
</div>