<div id="job-wizard" style="display:flex;">
    <div class="contents-center" style="width:80%;">
        <h2>Create a new incident</h2>
        <select id="incidentType"></select>  
        <input type="text" id="incidentName" placeholder="Enter name of incident">      
	<div>
        <input type="text" id="upperLeftLatlong" placeholder="Upper left Lat/Long (optional)" style="float:left; width: 30%;">
        <input type="text" id="lowerRightLatlong" placeholder="Lower right Lat/Long (optional)" style="width: 30%; margin-left:5%;">
        <input type="text" id="duration" placeholder="Duration (optional)" style="float:right; width: 30%;">
	</div>
        
        <div class="inline">
            <button id="submitJob" class="button blue self-center" onClick="submitJob()">Create incident</button>
            <!--<button id="checkJobStatus" class="button blue self-center" onClick="getCurrentJobStatus()">Check Job Status</button>-->
        </div>
        <button id="confirmation" class="button amber self-center" style="margin-top:5px;display:none;"></div>
    </div>
</div>
