<div id="dashboard" class="w3-container">
    <div class="we-card-4">
        <header class="w3-container blue">
            <h3>Submission Name</h3>
        </header>

        <div class="w3-container">
            <p>Short activity description</p>
        </div>

        <footer class="w3-container blue white-txt">
            <h5>Submitted on XX/XX/XXXX</h5>
        </footer> 
    </div>
    <div class="we-card-4">
        <header class="w3-container blue white-txt">
            <h3>Submission Name</h3>
        </header>

        <div class="w3-container">
            <p>Short activity description</p>
        </div>

        <footer class="w3-container blue white-txt">
            <h5>Submitted on XX/XX/XXXX</h5>
        </footer>
    </div>
    <div class="we-card-4">
        <header class="w3-container blue white-txt">
            <h3>Submission Name</h3>
        </header>

        <div class="w3-container">
            <p>Short activity description</p>
        </div>

        <footer class="w3-container blue white-txt">
            <h5>Submitted on XX/XX/XXXX</h5>
        </footer>
    </div>
</div>
