<div id="editDataScreen" title="Information screen">	
  <form id ="editDataToIncidentForm" method="post" enctype="multipart/form-data">
    <fieldset>      
      <label for="edit-filetype" class="addDataLabel">Type</label>
      <input type="text" name="edit-filetype" id="edit-filetype" class="addDataText text ui-widget-content ui-corner-all">      
      <label for="edit-filecomment" class="addDataLabel">Comment</label>
      <textarea name="edit-filecomment" id="edit-filecomment" rows="4" cols="80" class="addDataText text ui-widget-content ui-corner-all"></textarea>      
      <input type="hidden" id="incidentId" name="dataIncidentId">
      <input type="hidden" id="dataId" name="dataIncidentId">
    </fieldset>
  </form>
</div>