<div class="we-card-4">
    <header class="w3-container card-end blue white-txt">
        <h4 id="cardTitle" class="self-left" style="margin: 12px;cursor:pointer;"></h4>
    </header>

    <div id="cardBody" class="w3-container light-grey">
    </div>

    <footer class="w3-container card-end blue white-txt">
        <div id="cardStatus" class="self-left white-txt" style="margin: 12px;"></div>
        <button id="viewDetails" class="button white self-right card-button">
            <i class="card-icon fa fa-eye"></i>
        </button>
    </footer> 
</div>
