<form id="signup-container" class="contents-right" style="width:40%;">
    <input type="text" id="username" placeholder="Enter your username..." required>
    <input type="text" id="name" placeholder="Enter your name..." required>
    <input type="email" id="email" placeholder="Enter your email address..." required>
    <input type="password" id="password" placeholder="Enter your password..." required minlength=8>
    <input type="password" id="confirm-pass" placeholder="Confirm password..." required minlength=8>
    <button id="create-user" class="button white-btn self-right" onclick="signUp()">Sign Up</button>
</form>
