<table id="workflowTable" class="self-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Initiation queue</th>
            <th>Shutdown queue</th>
            <th>Data queue</th>
            <th></th>
        </tr>
    </thead>
</table>

<div id="workflow-creator" style="display:flex;">
    <div class="contents-center" style="width:80%;">
        <h2>Add workflow</h2>
        <table>
        <tr><td>Workflow name:</td><td><input type="text" id="workflowname" placeholder=""></td></tr>
        <tr><td>Workflow initiation queue name: </td><td><input type="text" id="workflowqueuename" placeholder=""></td></tr>
        <tr><td>Workflow shutdown queue name: </td><td><input type="text" id="shutdownqueuename" placeholder=""></td></tr>
        <tr><td>Manual data queue name: </td><td><input type="text" id="manualdataqueuename" placeholder=""></td></tr>
        <tr><td>Test workflow: </td><td><input type="checkbox" id="test_workflow" name="test_workflow"></td></tr>
        </table>
        
        <div class="inline">
            <button id="Create workflow" class="button blue self-center" onClick="createWorkflow()">Create Workflow</button>
        </div>
    </div>
</div>
