<!DOCTYPE html>
    <head>
        <title>{% block PageTitle %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <ul class="navbar">
                <li class="{% block nav_create %}{% endblock %}"><a href="/">Create Job</a></li>
                <li class="{% block nav_status %}{% endblock %}"><a href="/jobs">Check Status</a></li>
                <li class="{% block log_block %}{% endblock %}"><a href="/logs">View Logs</a></li>
            </ul>
        </div>
        <div class="body_container">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
