<!DOCTYPE html>
    <head>
        <title>{% block PageTitle %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <table class="jobs">
            <tr>
                <th>Name</th>
                <th>Sub-jobs</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{ job.get('Name') }}</td>
                <td>
                    <table class="jobs">
                        <tr>
                            <th>Machine</th>
                            <th>Status</th>
                            <th>Executable</th>
                            <th>Queue ID</th>
                        </tr>
                        {% for subjob in job.get('jobs') %}
                        <tr>
                            <td>{{ subjob.get('machine') }}</td>
                            <td>{{ subjob.get('status') }}</td>
                            <td>{{ subjob.get('executable') }}</td>
                            <td>{{ subjob.get('QueueID') }}</td>                            
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>{{ job.get('date') }}</td>
                <td>{{ job.get('status') }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>