{% extends "base.html" %}
{% block log_block %}active{% endblock %}
{% block content %}
    <table class="jobs">
        <tr>
            <th>Timestamp</th>
            <th>Originator</th>
            <th>User</th>
            <th>Type</th>
            <th>Comment</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{log.timestamp}}</td>
            <td>{{log.originator}}</td>
            <td>{{log.user}}</td>
            <td>{{log.type}}</td>
            <td>{{log.comment}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
