<html>
    <head>
        
        <title>{% block PageTitle %} {% endblock %}</title>
        
        <link rel="stylesheet" href="static/style.css">
    </head>

    

    <body>

        <div class="sidebar_container">

            <ul class="sidebar_list">
    
                <li {%block homeblock%} {%endblock%}> <a href="/"> Home </a> </li>
    
                <li {%block submitblock%} {%endblock%}><a href="/submit"> Submit </a> </li>
    
                <li {%block statusblock%} {%endblock%}><a href="/status"> Status </a> </li>
    
                <li {%block helpblock%} {%endblock%}> <a href="/help"> Help </a> </li>
    
            </ul>
    
        </div>

       
        
        <div class="body">

            <div class="TitleBar">
                
                <h1>{% block Title%} generic title {% endblock %}</h1>

            </div>

            {% block body %}

            <p> This is filler text</p>

            {% endblock %}
        </div>

    </body>
</html>