body {
  margin: 0px;
  height: 100vh;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
  display: inline-grid;
}

input[type=text], input[type=password] {
  display: inline-flex;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
  
input[type=text]:focus, input[type=password]:focus {
  outline: none;
}
  
.button {
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 14px;
  border-radius: 3px;
  margin-right: 0px;
  margin-left: auto;
}

a:link {
  text-decoration: none;
}

.button a:link {
  color: white;
} 

.button:focus {
  outline: none;
}
  
/* COLORS */
.white-txt {
  color: white;
}

.blue {
  background-color: #018cba;
}

.red {
  background-color: #f44336;
}

.amber {
  background-color: #ff9800;
}

.green {
  background-color: #4CAF50;
}
