.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li:hover {
  background-color: #111;
}

.navbar-active {
  background-color: #008CBA;
}

.job-wizard {
  width: 96%;
  margin: 2%;
}

#confirmation {
  padding: 10px;
  color: white;
  margin-top: 5px;
  display: block;
  width: 170px;
}

/* Job status page */
.jobs {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.jobs td, .jobs th {
  border: 1px solid #ddd;
  padding: 8px;
}

.jobs tr:nth-child(even){background-color: #f2f2f2;}

.jobs tr:hover {background-color: #ddd;}

.jobs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008CBA;
  color: white;
}

#dashboard {
  display: inline-flex;
  width: 100%;
}

.we-card-4 {
  width: 30%;
  margin: 20px;
}

.jobDetails {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px;
}
