.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar div {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar div:hover {
  background-color: #111;
}

.navbar-active {
  background-color: #008CBA;
}

.job-wizard {
  width: 96%;
  margin: 2%;
}

/* Job status page */
.jobs {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.jobs td, .jobs th {
  border: 1px solid #ddd;
  padding: 8px;
}

.jobs tr:nth-child(even){background-color: #f2f2f2;}

.jobs tr:hover {background-color: #ddd;}

.jobs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008CBA;
  color: white;
}

#dashboard {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
}

.we-card-4 {
  width: 30%;
  margin: 20px;
}

.card-end {
  height: 60px;
  text-align: right;
  padding: 5px !important;
}

header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-button {
  color: #018cba;
  background-color: white;
  margin: 5px;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
}

#cardStatus {
  font-size: 15px;
}

#viewDetails {
  font-size: 15px;
  margin: 8px;
}

.trash {
  margin: 0px 2px;
}

.jobDetails {
  margin: 20px;
  width: 90%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 15px;
}

.jobLine {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
